/* @define connect-metamask */

@import 'style/variables.scss';

.connect-metamask {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 20px;
  color: #000;
  text-align: left;
  opacity: 0.25;

  &--small {
    font-size: 16px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
