/* @define governance-activity-view */

@import 'style/variables.scss';

.governance-activity-view {
  &__description {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
  }
}
