{
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-no-unused-selectors"
  ],
  "rules": {
    "plugin/no-unused-selectors": true,
    "plugin/selector-bem-pattern": {
        "preset": "bem"
      }
    },
  "extends": "stylelint-config-standard"
}
