/* stylelint-disable plugin/no-unused-selectors */

/* @define button */

@import 'style/variables.scss';

.button {
  background: #4a4a4a;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  color: $color-white;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 6px 30px;

  &--inverted {
    background: none;
    color: #4a4a4a;
    padding: 0;
  }

  &--red {
    background: $color-red;
  }

  &--green {
    background: $color-green;
  }

  &--block {
    width: 100%;
  }
}
