/* stylelint-disable plugin/no-unused-selectors */

/* @define button */

@import 'style/variables.scss';

.button {
  background: #4a4a4a;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  color: $color-white;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 6px 30px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #5d5d5d;
  }

  &--remove {
    border: 1px solid #838383;
    text-align: center;
    background: none;
    color: #838383;
    font-family: 'Gilroy-Medium', sans-serif;

    &:hover {
      background-color: #ff5757;
      border-color: #ff5757;
      color: #fff;
    }
  }

  &--cancel {
    color: #bfbfbf;
    background: none;
    padding: 0;

    &:hover {
      color: #838383;
      background: none;
    }
  }

  &--inverted {
    background: none;
    color: #4a4a4a;
    padding: 0;

    &:hover {
      background: none;
    }
  }

  &--red {
    background: $color-red;
    border: 1px solid $color-red;

    &:hover {
      background-color: #ff5757;
      border: 1px solid #ff5757;
    }
  }

  &--green {
    background: #0bd080;

    &:hover {
      background-color: #1be090;
    }
  }

  &--block {
    width: 100%;
  }

  &--outlined {
    border: 1px solid #bfbfbf;
    font-family: 'DINPro-Medium', sans-serif;
    color: #bfbfbf;
    text-align: center;
    background: none;
  }

  &--outlined-green {
    border: 1px solid #0bd080;
    font-family: 'DINPro-Medium', sans-serif;
    color: #0bd080;
    text-align: center;
    background: none;

    &:hover {
      background: #0bd080;
      color: #fff;
      border: 1px solid #0bd080;
    }
  }

  &--small {
    padding: 0 10px;
    font-size: 12px;
  }

  &--disabled {
    font-family: 'Gilroy-Medium', sans-serif;
    background: #bfbfbf;
    border: 1px #bfbfbf;
    color: #fff;
    text-align: center;
    cursor: no-drop;

    &:hover {
      background: #bfbfbf;
      border: 1px #bfbfbf;
      color: #fff;
    }
  }
}
