/* @define zeroex-symbol */

@import 'style/variables.scss';

.zeroex-symbol {
  font-family: 'DINPro-Medium', sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1.02px;
  text-align: center;
  background-color: #00AE99;
  border-radius: 2px;
  width: 39px;
}
