/* stylelint-disable plugin/no-unused-selectors */

/* @define confirmed-symbol */

@import 'style/variables.scss';

.confirmed-symbol {
  background: none;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.7px;
  text-align: center;
  padding: 4px 20px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #4a4a4a;

  &--small {
    font-size: 9px;
    letter-spacing: 0.57px;
    width: 65px;
  }
}
