/* @define home-view */

@import 'style/variables.scss';

.home-view {
  &__title {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 39px;
    color: #4a4a4a;
    text-align: left;
    padding-top: 1em;
  }

  &__subtitle {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 25px;
    color: #4a4a4a;
    text-align: left;
  }

  &__validators-wrapper,
  &__past-challenges-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
  }
}
