/* @define past-challenge-view */

@import 'style/variables.scss';

.past-challenge-view {
  padding-right: 125px;
  padding-left: 125px;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 39px;
    color: #4a4a4a;
    text-align: left;
    margin-bottom: 10px;
  }

  &__content-address {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 20px;
    color: #4a4a4a;
    text-align: left;
  }

  &__content {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    color: #838383;
    text-align: left;
  }

  &__subcontent {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    color: #838383;
    text-align: left;
  }

  &__results-title {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 25px;
    color: #4A4A4A;
    text-align: left;
  }
}
