/* @define validator-view */

@import 'style/variables.scss';

.validator-view {
  padding-right: 125px;
  padding-left: 125px;
  padding-top: 30px;
  padding-bottom: 50px;

  &__header {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 39px;
    color: #4a4a4a;
    text-align: left;
  }

  &__validator-label {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 25px;
    color: #4A4A4A;
    text-align: left;
  }

  &__address {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 20px;
    color: #838383;
    text-align: left;
  }

  &__validator-label {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 13px;
    color: #BFBFBF;
    text-align: left;
  }

  &__validator-public-key {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 14px;
    color: #BFBFBF;
    text-align: left;
    padding-bottom: 10px;
  }

  &__link-label {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    color: #838383;
    text-align: left;
    margin-top: 9px;
  }

  &__link {
    color: #0BD080;

    &:hover {
      color: #1be090;
    }
  }

  &__rank-th-label {
    font-size: 15px;
  }

  &__rank-label {
    color: #BFBFBF;
  }

  &__age-block-label {
    opacity: 0.5;
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
    text-align: left;
  }

  &__formatted-age {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 12px;
    color: #4a4a4a;
    text-align: left;
  }

  &__already-challenged-label {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    color: #4A4A4A;
    text-align: left;
  }

  &__already-challenged-link {
    color: #0BD080;
  }
}
