@font-face {
  font-family: 'DINPro-light';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/DIN Pro/DINPro-Light.ttf');
}

@font-face {
  font-family: 'DINPro-regular';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/DIN Pro/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro-medium';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/DIN Pro/DINPro-Medium.otf');
}

@font-face {
  font-family: 'DINPro-Bold';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/DIN Pro/DINPro-Bold.otf');
}

@font-face {
  font-family: 'DINPro-Black';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/DIN Pro/DINPro-Black.otf.otf');
}
