@font-face {
  font-family: 'DINPro-light';
  font-style: normal;
  src: url('../assets/fonts/DIN Pro/DINPro-Light.ttf');
}

@font-face {
  font-family: 'DINPro-regular';
  font-style: normal;
  src: url('../assets/fonts/DIN Pro/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro-medium';
  font-style: normal;
  src: url('../assets/fonts/DIN Pro/DINPro-Medium.otf');
}

@font-face {
  font-family: 'DINPro-Bold';
  font-style: normal;
  src: url('../assets/fonts/DIN Pro/DINPro-Bold.otf');
}

@font-face {
  font-family: 'DINPro-Black';
  font-style: normal;
  src: url('../assets/fonts/DIN Pro/DINPro-Black.otf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  src: url('../assets/fonts/Gilroy/Radomir Tinkov - Gilroy-Regular.otf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  src: url('../assets/fonts/Gilroy/Radomir Tinkov - Gilroy-Medium.otf');
}
