/**
 * This file is our main stylesheet
 */

/* Variables and Boostrap */
@import './variables.scss';
@import '~bootstrap/scss/bootstrap';
@import './fonts.scss';

body {
  -webkit-font-smoothing: antialiased;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: 0.85;
}
