$color-orange: #f08d49;
$color-green: #0bd080;
$color-white: #fff;
$color-blue: #2188ea;
$color-red: #fd4848;
$color-black: #000;

$color-dark: #404040;
$color-dark2: #4a4a4a;
$color-notsodark: #838383;
$color-notsodark2: #bfbfbf;
