/* @define header */

@import 'style/variables.scss';

.header {
  background-color: #fff;
  // padding: 1.2rem 1.1rem;
  padding: 1.8rem 1.1rem !important;


  @media screen and (max-width: 770px) {
    &__big-screen {
      display: none;
    }
  }

  &__logo {
    height: 31px;
    opacity: 0.3;
  }

  &__subtitle {
    opacity: 0.25;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    color: $color-black;
    letter-spacing: 0;
    float: right;
    margin-left: 10px;
  }

  &__balance {
    display: flex;
    padding-left: .9rem;
    align-content: baseline;
  }

  &__number {
    font-size: 40px;
    color: $color-black;
    font-family: 'DINPro-medium', sans-serif;
    opacity: 0.75;
    letter-spacing: 0;
    line-height: 0.5;
    padding-bottom: 8px;

    &--grey {
      opacity: 0.1;
    }
  }

  &__address {
    font-size: 18px;
    color: $color-black;
    font-family: 'DINPro-medium', sans-serif;
    opacity: 0.25;
    display: block;
    padding: 0.5rem 1rem;
    letter-spacing: 0;
    margin-right: 75px;
    display: inline-flex;
  }

  &__icon {
    background: $color-green;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    display: inline-flex;
    vertical-align: baseline;

    &--pending {
      background-color: #ffaf00;
      margin-right: 23px;
    }
  }

  &__dropdown-caption {
    color: #212529;
    cursor: pointer;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 22px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    opacity: 0.25;
    text-align: left;
    text-size-adjust: 100%;
    position: relative;
    display: inline-block;
    font-stretch: normal;
    line-height: 1.2;
    z-index: 1;
    margin-top: 2px;
  }

  &__dropdown-caret {
    cursor: pointer;
    margin-left: 6px;
    margin-top: -1px;
    font-size: 25px;
    width: 14px;
    height: 5px;
    vertical-align: middle;
  }

  &__dropdown {
    position: absolute !important;
    margin: 0;
    min-width: 140px !important;
    padding-top: 5px !important;
    padding-bottom: 7px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    border-radius: 2px !important;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.18) !important;
    border: solid 1px #ededed !important;
    background-color: #fff !important;
    z-index: 1 !important;
    display: block;
    float: right;
    position: absolute;
    top: 31px;
    min-width: 60px;
    opacity: 1;
    z-index: 10000;
  }

  &__dropdown-link {
    background-color: none !important;
    display: block;
    margin-top: 4px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    opacity: 0.25;
    font-family: Gilroy-Regular;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
      color: #000;
      text-decoration: none;
    }
  }
}
