/* @define header */

@import 'style/variables.scss';

.header {
  background-color: #fff;

  &__subtitle {
    opacity: 0.25;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    color: $color-black;
    letter-spacing: 0;
    float: right;
    margin-left: 10px;
  }

  &__balance {
    font-size: 40px;
    color: $color-black;
    font-family: 'DINPro-medium', sans-serif;
    opacity: 0.75;
    display: block;
    padding: 0.5rem 1rem;
    letter-spacing: 0;
  }

  &__address {
    font-size: 18px;
    color: $color-black;
    font-family: 'DINPro-medium', sans-serif;
    opacity: 0.25;
    display: block;
    padding: 0.5rem 1rem;
    letter-spacing: 0;
    margin-right: 75px;
  }

  &__icon {
    background: $color-green;
    border-radius: 10px;
    width: 12px;
    height: 12px;
  }

  &__current-route {
    opacity: 0.25;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
  }

  &__route-menu {
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 12px;
    border-radius: 2px;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.18);
    border: solid 1px #ededed;
    color: #bfbfbf;
    background-color: #fff;
  }
}
