/* @define connect-metamask */

@import 'style/variables.scss';

.empty-state {
  font-family: 'DINPro-regular', sans-serif;
  font-size: 18px;
  color: #4A4A4A;
  text-align: left;
  opacity: 0.5;

  &--small {
    font-size: 16px;
  }
}
