/* @define my-progress-bar */

@import 'style/variables.scss';

.my-progress-bar {
  &__progress-bar {
    background: #ececec;
    border-radius: 18px;
  }

  &__bar {
    background: $color-green;
    border-radius: 18px;
    min-width: 1%;
  }

  &__label {
    opacity: 0.5;
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
  }

  &__label--light {
    opacity: 0.25;
  }
}
