/* @define my-progress-bar */

@import 'style/variables.scss';

.my-progress-bar {
  &__progress-bar {
    background-color: #ececec !important;
    border-radius: 5.5px !important;
    height: 0.8rem !important;
  }

  &__bar {
    background-color: $color-green !important;
    border-radius: 5.5px !important;
    min-width: 2.5%;
    height: 0.8rem !important;

    &--full,
    &--empty {
      background-color: #fd4848 !important;
      width: 2.5%;
    }
  }

  &__label {
    opacity: 0.5;
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
  }

  &__label--light {
    opacity: 0.25;
  }
}
