/* @define past-challenges-view */

.past-challenges-view {
  &__id {
    font-family: 'DINPro-Light', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
  }

  &__td:first-child,
  &__th:first-child {
    flex-basis:20%;
    flex-grow:1;
  }
}
